@charset "utf-8";
/* CSS Document */

.mainDashboard, .boardLeft, .dashRight {
	display: flex;
}
.transactionBox, .cardHolder, .loanHolder, .ibanHolder, .analyticBoard, .FtoWBoard {
	border: inset 5px gray;
	border-radius: 40px;
  	background-color: white;
	opacity: 0.8;
	margin: 1%;
}
.loanHolder, .ibanHolder {
	height: 11em;
  	width: 350px;
}
.analyticBoard, .FtoWBoard {
	height: 50%;
  	width: 350px;
	margin-bottom: 5%;
}
.cardHolder {
  	height: 15em;
  	width: 350px;
  	margin-bottom: 5%;
	overflow: hidden;
}
.transactionBox h1, .cardHolder h1, .loanHolder h1, .ibanHolder h1, .analyticBoard h1, .FtoWBoard h1 {
	border-bottom: double 3px black;
	padding: 3.35% 0% 0% 10%;
}
.mainDashboard {
	flex-direction: row;
	justify-content: flex-start;
}
.transactionBox{
	height: 615px;
	width: 60%;
}
.boardLeft, .dashRight {
  flex-direction: column;
  margin: 1%;
}
.cardHolder img{
	margin: 3% 10%;
	align-self: center;
	width: 80%;
	height: 70%;
}
.loanHolder {
  margin-bottom: 5%;
}
