@charset "utf-8";
/* CSS Document */
.dashRight {
  display: flex;
  flex-direction: column;
  margin: 1%;
  /**z-index: -1;*/
}
.analyticBoard {
  border: inset 5px gray;
  border-radius: 40px;
  background-color: white;
  height: 50%;
  width: 350px;
  margin-bottom: 10%;
	opacity: 0.8;
}
.analyticBoard h1 {
  padding: 3% 0% 0% 10%;
  border-bottom: double 3px black;
}
.depositBoard {
  border: inset 5px gray;
  border-radius: 40px;
  background-color: white;
  height: 50%;
  width: 350px;
	opacity: 0.8;
}
.depositBoard h1 {
  padding: 5% 0% 0% 10%;
  border-bottom: double 3px black;
}