@charset "utf-8";
/* CSS Document */

.boardLeft {
  display: flex;
  flex-direction: column;
  margin: 1%;
	z-index: -1;
}
.cardHolder {
  border: inset 5px gray;
  border-radius: 40px;
  background-color: white;
  height: 15em;
  width: 350px;
  margin-bottom: 5%;
	overflow: hidden;
	opacity: 0.8;
}
.cardHolder h1{
	padding: 3.35% 0% 0% 10%;
	border-bottom: double 3px black;
}
.cardHolder img{
	margin: 3% 10%;
	align-self: center;
	width: 80%;
	height: 70%;
	
}
.loanHolder {
  border: inset 5px gray;
  border-radius: 40px;
  background-color: white;
  height: 10em;
  width: 350px;
  margin-bottom: 5%;
	opacity: 0.8;
}
.loanHolder h1{
	padding: 5% 0% 0% 10%;
	border-bottom: double 3px black;
}
.ibanHolder {
  border: inset 5px gray;
  border-radius: 30px;
  background-color: white;
  height: 10em;
  width: 350px;
	opacity: 0.8;
}
.ibanHolder h1{
	padding: 5% 0% 0% 10%;
	border-bottom: double 3px black;
}