@charset "utf-8";
/* CSS Document */
.dashRight {
	display: flex;
	flex-direction: column;
	  margin: 1%;
	z-index: -1;
}
.analyticBoard {
	  border: inset 5px gray;
  border-radius: 40px;
  background-color: white;
  height: 20em;
  width: 350px;
  margin-bottom: 10%;
}
.analyticBoard h1 {
	padding: 5% 0% 0% 10%;
}
.suggestBoard {
	  border: inset 5px gray;
  border-radius: 40px;
  background-color: white;
  height: 15em;
  width: 350px;
}
.suggestBoard h1 {
	padding: 5% 0% 0% 10%;
}
