@charset "utf-8";
/* CSS Document */
.footnote{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: gray;
	margin: .5% 0px 0px;
}
.footerNav {
	width: 30%;
	margin: 1%;
	padding: 0% 10% 0% 1%;
}
.footerNav a {
	text-decoration: none;
	color: white;
	padding-right: 3%;
}
.footerNav a:hover {
	color: black;
}
.companyFnote {
	align-self: center;
	color: white;
}
