@charset "utf-8";
/* CSS Document */
.header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: white;
	
}
.header h1{
	align-self: center;
	padding: 1% 0px 0px 1em;
	text-shadow: 10px 10px 8px black;
}
.header img{
	width: 08%;
	height: 08%;
	padding: .5% 0% 0.5% 1%;
}

