@charset "utf-8";
/* CSS Document */
.navBoard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;
}
.navBoardLeft {
  display: flex;
  justify-content: flex-start;
}
.navBoardLeft a {
  padding: 10% 20%;
  text-decoration: none;
  color: white;
	text-shadow: 1px 0px 10px black;
}
.navBoardLeft a:hover {
  background-color: white;
  color: black;
	text-shadow: 1px 0px 10px gray;
}
.navBoardLeft a:active {
  color: blue;
}
.navBoardRight {
  display: flex;
  flex-flow: row wrap;
}
.navBoardRight label {
  margin: 5px 10px 5px 0px;
  color: white;
}
.navBoardRight input {
  vertical-align: middle;
  margin: 5px 10px 5px 0px;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.navBoardRight button {
  margin: 0px 10px 0px 0px;
}
@media screen and (max-width: 300px){
	.navBoard, .navBoardRight {
		display: flex;
		flex-direction: column;
	}
	.navBoard{
		padding: 1px;
	}
	.navBoard a {
		padding: 1% 2%;
	}
	.navBoardRight {
		padding: 10px 60px 0px 60px;
	}
	.navBoardRight:has(label){
	}
}
@media screen and (max-width: 375px){
		.navBoard, .navBoardRight {
		display: flex;
		flex-direction: column;
	}
	.navBoard{
		padding: 1px;
		align-items: flex-start;
	}
	.navBoard a {
		padding: 1% 2%;
	}
	.navBoardRight {
		padding: 10px 60px 0px 60px;
	}
}
@media screen and (min-width:410px) {
	.navBoard, .navBoardRight {
		display: flex;
		flex-direction: column;
	}
	.navBoard{
		padding: 1px;
		align-items: flex-start;
	}
	.navBoard a {
		padding: 10% 8%;
	}
	.navBoardRight {
		padding: 10px 60px 0px 60px;
		margin: 0px 50px;
	}

}