@charset "utf-8";
/* CSS Document */
.navBoard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;
}
.navBoardLeft {
  display: flex;
  justify-content: flex-start;
}
.navBoardLeft a {
  padding: 10% 20%;
  text-decoration: none;
  color: white;
	text-shadow: 1px 0px 10px black;
}
.navBoardLeft a:hover {
  background-color: white;
  color: black;
	text-shadow: 1px 0px 10px gray;
}
.navBoardLeft a:active {
  color: blue;
}
.navBoardRight {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.navBoardRight label {
  margin: 5px 10px 5px 0px;
  color: white;
}
.navBoardRight input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.navBoardRight button {
  margin: 0px 10px 0px 0px;
}